<h1>Products List </h1>
    
<div class="alert-danger">{{errorMessage}}</div>

<div >
        <label for="" class="col-md-12">Page Size</label>
        <div class="col-md-1">
                <select class="form-control" (change)="changed($event)">
                        <option *ngFor="let size of pageSizeArray;"                
                        [value]="size" [selected]="size == pageSize">
                        {{size}}</option>
                      </select>
        </div>
             
   
  <button class="btn btn-success btn-circle pull-right" 
          (click) = 'add()'
          title="Add Product">
    <i class="glyphicon glyphicon-plus"></i>
  </button>
</div>




<table class="table table-bordered " style="padding-top: 100px" >
    <thead>
        <tr>
            <th>ID</th>
            <th>ProductName</th>
            <th>Product Category</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prod of productList"
            [ngClass]="{'btn-primary': prod.productId == currentId }">
            <td>{{prod.productId}}</td>
            <td>{{prod.prodName}}</td>
            <td>{{prod.categoryName}}</td>
            <td>{{prod.prodDescription}}</td>
            <td style="width: 70px;">
                <i class="glyphicon glyphicon-edit pointer" (click)="edit(prod.productId)" title="Edit"></i>
                <i class="glyphicon glyphicon-trash pointer" (click)="delete(prod.productId)"  title="Delete"></i>                
            </td>
        </tr>
    </tbody>
</table>