<h1>Product</h1>
<hr>
<div>{{errorMessage}}</div>
<form [formGroup]="productForm" (ngSubmit)="save()" novalidate>
    <div class="form-group row">
        <label for="" class="col-md-12">Product Name</label>
        <div class="col-md-4">
            <input type="text"  class="form-control"
                   formControlName="prodName">
        </div>
        <div class="col-md-6">
            <div class="error" *ngIf="prodName.invalid && (prodName.dirty || submitted)">
                <div *ngIf="prodName.errors.required">
                    Product Name is required
                </div>                
                <div *ngIf="prodName.errors.maxlength">
                    Must not exceed 30 charaters
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-md-12">Product Description</label>
        <div class="col-md-4">
            <input type="text" class="form-control"
                    formControlName="prodDescription" >
        </div>
        <div class="col-md-6">
            <div class="error" *ngIf="prodDescription.invalid && (prodDescription.dirty || submitted)">
                 <div *ngIf="prodDescription.errors.required">
                    Product Description is required
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
           
        <label for="" class="col-md-12">Product Category</label>
        <div class="col-md-4">
            <select class="form-control" formControlName="prodCatId" >
                <option *ngFor="let category of prodcatList;"                
                    [value]="category.prodCatId" [selected]="category.prodCatId == prodCatId">
                    {{category.categoryName}}</option>
              </select>
        </div>  
        <div class="col-md-6">
                <div class="error" *ngIf="prodCatId.invalid && (prodCatId.dirty || submitted)">
                     <div *ngIf="prodCatId.errors.required">
                        Product Category is required
                    </div>
                </div>
            </div>      
    </div>

    <div class="form-group row">
      <div class="col-md-12">
           <input type="submit" 
                  class="btn btn-primary" 
                  value="Save" />
            <input type="button" 
                   class="btn btn-warning" 
                   value="Cancel"
                   (click)="cancel()">
      </div>

    </div>
</form>
